{% import 'macros.html' as macros %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gossip Forum | Home</title>
    <link rel="stylesheet" href="/static/css/login-register.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

</head>
<body>
    {{ macros.header(request) }}

    <div class="container">
        <h1>♡₊˚  GOSSIP FORUM ・₊✧</h1>

        {% if not request.cookies.get("token") %}

            <h1> login </h1>

            <div class="login-section">
                {% if error %}
                    <div class="error-message">
                        {{ error }}
                    </div>
                {% endif %}
                <form class="login-form" method="post" action="/users/login" autocomplete="off">
                    <div class="form-group">
                        <label for="username">username</label>
                        <br>
                        <input type="text" id="username" name="username" class="login-input" required>
                    </div>

                    <div class="form-group">
                        <label for="password">password</label>
                        <br>
                        <input type="password" id="password" name="password" class="login-input" required>
                    </div>
                    <button type="submit" class="button login-button">login</button>
                    <button type="button" class="button login-button" onclick="window.location.href='/users/register'">register</button>
                </form>

            </div>
        {% else %}
            {% if error %}
                <div class="error-message">
                    {{ error }}
                </div>
            {% endif %}
            <div class="welcome-letter">
                <div class="letter-content">
                    <h2 class="letter-header">Dear {{ first_name if first_name else "Gossiper" }},</h2>

                    <p>Welcome to our Gossip Society!</p>

                    <p>Where secrets are served hot and gossip never gets cold... 🫖</p>

                    <p>Here you'll find all the juiciest stories, freshly spilled tea, and scandalous whispers from our elite members.</p>

                    <p>Remember darling, in this society:</p>
                    <ul class="society-rules">
                        <li>Every secret has a story,</li>
                        <li>Every whisper matters,</li>
                        <li>And the tea is always piping hot.</li>
                    </ul>

                    <p class="letter-closing">Gossip Society 💋</p>
                </div>
            </div>
        {% endif %}
           <a href="easter-egg.html" class="icon-animation">✗♡✗♡</a>
        </div>

    {{ macros.footer() }}
</body>
</html>