{% import 'macros.html' as macros %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gossip Forum</title>
    <link rel="stylesheet" href="/static/css/login-register.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

</head>
<body>
    {{ macros.header(request) }}

    <div class="container">
        <h1>♡₊˚  GOSSIP FORUM ・₊✧</h1>
        {% if not request.cookies.get("token") %}

            <h1> login </h1>

            <div class="login-section">
                {% if error %}
                    <div class="error-message">
                        {{ error }}
                    </div>
                {% endif %}
                <form class="login-form" method="post" action="/users/login">
                    <div class="form-group">
                        <label for="username">username</label>
                        <br>
                        <input type="text" id="username" name="username" class="login-input" required>
                    </div>

                    <div class="form-group">
                        <label for="password">password</label>
                        <br>
                        <input type="password" id="password" name="password" class="login-input" required>
                    </div>
                    <button type="submit" class="button login-button">login</button>
                    <button type="button" class="button login-button" onclick="window.location.href='/users/register'">register</button>
                </form>

            </div>
        {% else %}
            <h2>Latest Gossip</h2>
                {% if error %}
                    <div class="error-message">
                        {{ error }}
                    </div>
                {% endif %}
            {% if latest_topic %}
                <div class="topic-card">
                    <h3>{{ latest_topic.title }}</h3>
                    <p>{{ latest_topic.content }}</p>
                </div>
            {% endif %}
        {% endif %}
           <a href="easter-egg.html" class="icon-animation">✗♡✗♡</a>
        </div>


<!--        <div class="products-section">-->
<!--            <div class="product-title">Бургер "Черна дупка"</div>-->
<!--            <div class="content-wrapper">-->
<!--                <div class="left-side">-->
<!--                    <div class="description-block">-->
<!--                        Гравитационно изкушение с два сочни телешки стека в уникална черна бриош питка с активен въглен. Нашият таен черен сос, хрупкав бекон и топен чедър създават космическо преживяване, което ще погълне сетивата ви! Внимание: Създава гравитационна зависимост!-->
<!--                    </div>-->
<!--                    <div class="price-order-section">-->
<!--                        <div class="product-price">122 ₭</div>-->
<!--                        <a href="cart.html" class="button">ПОРЪЧАЙ</a>-->
<!--                    </div>-->
<!--              </div>-->

<!--                <div class="right-side">-->
<!--                    <div class="product-image">-->
<!--                        <img src="/static/images/black-hole-burger.png" alt="Бургер черна дупка">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="products-section">-->
<!--            <div class="product-title">Сатурнови пръстени</div>-->
<!--            <div class="content-wrapper">-->
<!--                <div class="left-side">-->
<!--                    <div class="description-block">-->
<!--                        Двойно панирани хрупкави лучени кръгове, които издават звук на разбиващи се метеорити при всяка хапка. Поднесени с нашия легендарен 'звезден сос' - кремообразна смес от седем галактически подправки.-->
<!--                    </div>-->
<!--                    <div class="price-order-section">-->
<!--                        <div class="product-price">76 ₭</div>-->
<!--                        <a href="cart.html" class="button">ПОРЪЧАЙ</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="right-side">-->
<!--                    <div class="product-image">-->
<!--                        <img src="/static/images/saturn-onion-rings.png" alt="Сатурнови пръстени">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="products-section">-->
<!--            <div class="product-title">Пулсар пунш</div>-->
<!--            <div class="content-wrapper">-->
<!--                <div class="left-side">-->
<!--                    <div class="description-block">-->
<!--                        Магическа смес от драконов плод, космическо манго и звезден личи, обогатена със синя спирулина. Излъчва мистериозно сияние в тъмното и носи свежест от далечните галактики.-->
<!--                    </div>-->
<!--                    <div class="price-order-section">-->
<!--                        <div class="product-price">57 ₭</div>-->
<!--                        <a href="cart.html" class="button">ПОРЪЧАЙ</a>-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div class="right-side">-->
<!--                    <div class="product-image">-->
<!--                        <img src="/static/images/pulsar-punch.png" alt="Пулсар пунш">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

    {{ macros.footer() }}
</body>
</html>