{% import 'macros.html' as macros %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Gossip Forum | Register</title>
    <link rel="stylesheet" href="/static/css/login-register.css">
    <link href="https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap" rel="stylesheet">

</head>
<body>
    {{ macros.header(request) }}

    <div class="container">
        <h1>♡₊˚  GOSSIP FORUM ・₊✧</h1>

        <h1> register </h1>

        <div class="login-section">
            {% if error %}
                <div class="error-message">{{ error }}</div>
            {% endif %}
            <form class="login-form" method="post" action="/users/register" autocomplete="off">
                <div class="form-columns">
                    <!-- Лява колона -->
                    <div class="form-column">
                        <div class="form-group">
                            <label for="username">username</label>
                            <br>
                            <input type="text" id="username" name="username" class="login-input" required>
                        </div>

                        <div class="form-group">
                            <label for="first_name">first name</label>
                            <br>
                            <input type="text" id="first_name" name="first_name" class="login-input" required>
                        </div>

                        <div class="form-group">
                            <label for="last_name">last name</label>
                            <br>
                            <input type="text" id="last_name" name="last_name" class="login-input" required>
                        </div>
                    </div>

                    <!-- Дясна колона -->
                    <div class="form-column">
                        <div class="form-group">
                            <label for="email">email</label>
                            <br>
                            <input type="email" id="email" name="email" class="login-input" required>
                        </div>

                        <div class="form-group">
                            <label for="password">password</label>
                            <br>
                            <input type="password" id="password" name="password" class="login-input" required>
                        </div>

                        <div class="avatar-selection">
                            <p>Choose your avatar:</p>
                            <div class="avatar-options">
                                <label class="avatar-option">
                                    <input type="radio" name="picture" value="boy_avatar" required>
                                    <img src="/static/images/boy.png" alt="Boy Avatar" class="avatar-img">
                                </label>
                                <label class="avatar-option">
                                    <input type="radio" name="picture" value="girl_avatar" required>
                                    <img src="/static/images/girl.png" alt="Girl Avatar" class="avatar-img">
                                </label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-buttons">
                    <button type="submit" class="button login-button">register</button>
                    <button type="button" class="button login-button" onclick="window.location.href='/'">login</button>
                </div>
            </form>
        </div>
       <a href="easter-egg.html" class="icon-animation">✗♡✗♡</a>
    </div>


    {{ macros.footer() }}
</body>
</html>